@import '../vars/metrics';

.bui-backdrop {
  @include bg-lightest;

  margin: -$gutter-width auto;
  padding: #{$gutter-width * 2} 0;
  z-index: -1;

  &__body {
    @include bg-lighter;
  }

  &__body,
  &__heading {
    padding: $gutter-width;

    &--small {
      padding: $gutter-width / 2 $gutter-width;
    }
  }

  &--inverse {
    @include bg-darkest;

    & .bui-card__body {
      @include bg-darker;
    }
  }

  &--primary {
    @include bg-primary-dark;

    & .bui-card__body {
      @include bg-primary-light;
    }
  }

  &--go {
    @include bg-go-dark;

    & .bui-card__body {
      @include bg-go-light;
    }
  }

  &--yo {
    @include bg-yo-dark;

    & .bui-card__body {
      @include bg-yo-light;
    }
  }

  &--no {
    @include bg-no-dark;

    & .bui-card__body {
      @include bg-no-light;
    }
  }
}
