@import '../vars/color';
@import '../vars/metrics';
@import '../mixins/color';

.bui-btn {
  @include body-font-bold;
  @include bg-primary;

  appearance: none;
  border: none;
  border-radius: 2px;
  box-shadow:
    inset 0 -4px transparentize($theme-darkest, 0.95),
    inset 0 0 0 1px transparentize($theme-darkest, 0.95);
  font-size: inherit;
  padding: 0.25em $gutter-width / 2 0.5em;

  &--inverse {
    @include bg-primary-light;
  }

  &--go {
    @include bg-go;

    &.bui-btn--inverse {
      @include bg-go-light;
    }
  }

  &--yo {
    @include bg-yo;

    &.bui-btn--inverse {
      @include bg-yo-light;
    }
  }

  &--no {
    @include bg-no;

    &.bui-btn--inverse {
      @include bg-no-light;
    }
  }

  &[disabled] {
    background-color: $theme-light;
    color: $theme-medium;
  }
}
