@import '../vars/color';
@import '../vars/metrics';

button,
.btn {
  @extend .action;
  @extend ._loud;

  appearance: none;
  border-width: none;
  font-size: #{$ty-sm / $ty-base}em;
  padding: $sp-xs $sp-md;
  text-align: center;

  &:hover {
    filter: saturate(1.1);
  }
}
