@import '../vars/metrics';
@import '../mixins/color';

.bui-card,
address.bui-card,
h1.bui-card,
h2.bui-card,
h3.bui-card,
h4.bui-card,
h5.bui-card,
h6.bui-card,
legend.bui-card,
p.bui-card,
pre.bui-card {
  &__body,
  &__heading {
    margin: 0;
  }
}

.bui {
  &-card {
    @include bg-lightest;

    box-shadow: 0 8px 0 -4px transparentize($theme-darkest, 0.95);
    border-radius: 2px;
    list-style: none;
    margin: $gutter-width 0;
    overflow: auto;

    &__body {
      @include bg-lighter;
    }

    &__body,
    &__heading {
      padding: $gutter-width;

      &--small {
        padding: $gutter-width / 2 $gutter-width;
      }
    }

    &--inverse {
      @include bg-darkest;

      & .bui-card__body {
        @include bg-darker;
      }
    }

    &--primary {
      background-color: $theme-primary;
      color: $theme-lighter;

      & .bui-card__body {
        background-color: $theme-primary-light;
        color: $theme-primary-dark;
      }
    }

    &--go {
      @include bg-go;

      & .bui-card__body {
        @include bg-go-light;
      }
    }

    &--yo {
      @include bg-yo;

      & .bui-card__body {
        @include bg-yo-light;
      }
    }

    &--no {
      @include bg-no;

      & .bui-card__body {
        @include bg-no-light;
      }
    }
  }

  &__escape {
    margin: -$gutter-width;
  }
}
