@import '../vars/metrics';
@import '../mixins/color';

.bui-card {
  box-shadow:
    0 8px 0 -4px transparentize($theme-darkest, 0.95),
    0 0 0 1px transparentize($theme-darkest, 0.95);
  border-radius: 2px;
  list-style: none;
  margin: $gutter-width 0;
  overflow: auto;
  position: relative;

  .bui-body--flat & {
    box-shadow: none;
  }

  &__body,
  &__heading {
    padding: $gutter-width;
    margin: 0;

    &--small {
      padding: $gutter-width / 2 $gutter-width;
    }
  }

  &__body {
    .bui-ctx & {
      @include bg-lighter;
    }

    .bui-body--flat & {
      background: inherit;
    }

    .bui-ctx--inverse & {
      @include bg-darker;
    }

    .bui-ctx--primary & {
      @include bg-primary-light;
    }

    .bui-ctx--go & {
      @include bg-go-light;
    }

    .bui-ctx--yo & {
      @include bg-yo-light;
    }

    .bui-ctx--no & {
      @include bg-no-light;
    }
  }
}
