@import '../vars/fonts';
@import '../vars/metrics';
@import '../mixins/color';
@import '../mixins/flex';

.bui-form {
  line-height: 2.5rem;

  &-row {
    &:not(:last-child) {
      margin: 0 0 $gutter-width;
    }
  }

  &-label {
    @include body-font-bold;

    display: inline-block;
    font-size: $font-xs;
    margin: 0 $gutter-width / 2 $gutter-width / 4;
  }

  &-help {
    @include caption-font;

    display: inline-block;
    font-size: $font-xs;
    margin: $gutter-width / 4 $gutter-width / 2;
  }
}

.bui-input-group {
  @include bg-ground;
  @include flex-row('.bui-input');

  border-radius: 2px;

  & > * {
    display: inline-block;
    height: 2.5rem;
    padding-left: $gutter-width / 2;
    padding-right: $gutter-width / 2;

    &:not(:last-child) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:not(:first-child) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

.bui-input {
  @include bg-lightest;
  @include body-font;

  border: none;
  border-radius: 2px;
  box-shadow:
    inset 0 4px transparentize($theme-darkest, 0.95),
    inset 0 0 0 1px transparentize($theme-darkest, 0.95);
  display: inline-block;
  font-size: inherit;
  height: 2.5rem;
  padding: 0.5rem $gutter-width / 2;
  width: 100%;

  .bui-body--flat & {
    @include bg-lighter;
  }

  &--textarea {
    height: 5em;
    resize: vertical;
  }

  &[disabled],
  &--read-only {
    @include bg-ground;
  }
}
