@import '../vars/metrics';

input,
textarea {
  color: $c-dark;
  border-radius: 0;
  box-shadow: inset 0 -1px $c-loud;
  box-sizing: border-box;
  font-size: $ty-base; // not relative
  font-weight: 500;

  &[type=text],
  &[type=number],
  &[type=color],
  // &[type=checkbox],
  // &[type=radio],
  &[type=date],
  &[type=file],
  &[type=month],
  &[type=password],
  &[type=range],
  &[type=time] {
    appearance: none;
    border: none;
    display: block;
    height: 2.4em;
    padding: $sp-xs $sp-sm;
    max-width: 100%;
  }
}

textarea {
  overflow: hidden;
}
