@import '../vars/color';
@import '../vars/fonts';
@import '../vars/metrics';
@import '../mixins/container';

ul.bui-nav,
.bui-nav {
  list-style: none;
}

.bui-navbar__nav,
.bui-nav--inline {
  & > li {
    display: inline-block;
    margin: 0 $gutter-width / 2;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.bui-navbar {
  @include bg-lighter;

  box-shadow: 0 4px transparentize($theme-darkest, 0.95);
  margin: 0 0 $gutter-width;

  .bui-body--flat & {
    box-shadow: none;
  }

  &--inverse {
    @include bg-darkest;

    & .bui-card__body {
      @include bg-darker;
    }
  }

  &--primary {
    @include bg-primary;

    & .bui-card__body {
      @include bg-primary-light;
    }
  }

  &__inner {
    @include container;
    @include flex-row(':first-child');

    flex-wrap: wrap;
    font-size: $font-lg;
    padding-top: $gutter-width;
    padding-bottom: $gutter-width;

    &--small {
      font-size: $font-md;
      padding-top: $gutter-width / 2;
      padding-bottom: $gutter-width / 2;
    }

    & * {
      text-decoration: none;
      font-size: inherit;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}
