.nav {
  position: relative;
  z-index: 1;
}

.nav-list {
  @extend .list;

  display: flex;
  align-content: flex-end;
  flex-direction: row;
  flex-wrap: wrap;
  width: auto;
}

.nav-item {
  cursor: pointer;
  flex-shrink: 0;
  min-width: 0;
  padding: $sp-sm $sp-md;
}

.nav-fill {
  flex-grow: 1;
}
