@import '../vars/color';
@import '../vars/metrics';
@import '../vars/fonts';
@import '../mixins/fonts';

*,
*::before,
*::after {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bui {
  &-body {
    @include body-font;

    background: $theme-ground;
    font-size: $font-sm;
    line-height: 1.5;
    margin: 0;
  }

  &-container {
    margin: 0 $gutter-width;

    @media (min-width: $bp-lg + $gutter-width * 2) {
      margin: 0 auto;
      max-width: $bp-lg;
    }
  }
}
