@import '../vars/color';
@import '../vars/metrics';
@import '../vars/fonts';
@import '../mixins/container';
@import '../mixins/fonts';

*,
*::before,
*::after {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bui-body {
  @include body-font;
  @include bg-ground;

  font-size: $font-sm;
  line-height: 1.5;
  margin: 0;

  &._flat {
    @include bg-lightest;
  }
}
