@mixin container {
  margin: 0 $gutter-width;
  min-width: $bp-xs;

  @media (min-width: $bp-md + $gutter-width * 2) {
    margin: 0 auto;
    max-width: $bp-md;
  }

  .bui-body--flat & > :not(.bui-card) {
    padding-left: $gutter-width;
    padding-right: $gutter-width;
  }
}
