@mixin flex-row($fluid-selector) {
  align-items: middle;
  display: flex;

  & > * {
    flex-grow: 0;
  }

  & > #{$fluid-selector} {
    flex-grow: 1;
    width: auto;
  }

  @media (min-width: $bp-md) {
    & > * {
      flex-shrink: 0;
    }
  }
}
