@import './base/typography';
@import './base/container';
@import './base/aspects';
@import './base/modifiers';
@import './components/list';
@import './components/nav';
@import './components/recess';
@import './components/tile';
@import './components/table';
@import './components/blockquote';
@import './components/button';
@import './components/input';

html,
body {
  @include white;

  box-sizing: border-box;
  margin: 0;
  overflow-x: hidden;
  width: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
