// gray scale
$theme-lightest: #fff;
$theme-ground: #eee;
$theme-medium: #778;
$theme-darkest: #333;

@function theme-darken($color) {
  @return saturate(mix($color, $theme-darkest, 33.3333%), (saturation($color) - saturation($theme-darkest)) / 6);
}

@function theme-lighten($color) {
  @return saturate(mix($color, $theme-lightest, 33.3333%), (saturation($color) - saturation($theme-lightest)) / 6);
}

$theme-lighter: mix($theme-ground, $theme-lightest, 50%);
$theme-light: mix($theme-ground, $theme-medium, 80%);
$theme-dark: mix($theme-medium, $theme-darkest, 80%);
$theme-darker: mix($theme-medium, $theme-darkest, 50%);

// branding
$theme-primary: #569;
$theme-primary-light: theme-lighten($theme-primary);
$theme-primary-dark: theme-darken($theme-primary);

// stoplight colors
$theme-go: #5cc;
$theme-yo: #f8c060;
$theme-no: #f76;

$theme-go-light: theme-lighten($theme-go);
$theme-go-dark: theme-darken($theme-go);
$theme-yo-light: theme-lighten($theme-yo);
$theme-yo-dark: theme-darken($theme-yo);
$theme-no-light: theme-lighten($theme-no);
$theme-no-dark: theme-darken($theme-no);

