/* Greyscale */
$c-black: #000; /* Shark */
$c-dark: #222; /* Shark */
$c-dark-shadow: rgba(34, 34, 34, 0.87);
$c-deep: #555; /* Chicago */
$c-deep-shadow: rgba(34, 34, 34, 0.69);
$c-loud: #ccc; /* Cloud */
$c-loud-shadow: rgba(34, 34, 34, 0.25);
$c-soft: #eee; /* Gallery */
$c-soft-shadow: rgba(34, 34, 34, 0.06);
$c-white: #fff; /* White */

/* Hot : Red */
$c-hot-dark: #510; /* Redwood */
$c-hot-deep: #932; /* Totem Pole */
$c-hot-loud: #f75; /* Persimmon */
$c-hot-soft: #fdc; /* Tuft Bush */

/* Loud : Yellow */
$c-warm-dark: #430; /* Madras */
$c-warm-deep: #864; /* Kumera */
$c-warm-loud: #fc5; /* Golden Tainoi */
$c-warm-soft: #fec; /* Oasis */

/* Cool : Green */
$c-cool-dark: #233; /* Outer Space */
$c-cool-deep: #187; /* Pine Green */
$c-cool-loud: #6db; /* Puerto Rico */
$c-cool-soft: #d4f4e4; /* Granny Apple */

/* Main : Blue */
$c-main-dark: #235; /* Cello */
$c-main-deep: #26a; /* Matisse */
$c-main-loud: #9cf; /* Malibu */
$c-main-soft: #def; /* Link Water */

/* Extra : Violet */
$c-extra-dark: #423; /* Livid Brown */
$c-extra-deep: #746; /* Cosmic */
$c-extra-loud: #dad; /* Light Wisteria */
$c-extra-soft: #edf; /* Moon Raker */
