/* Greyscale */
$c-black: #000; /* Shark */
$c-dark: #222; /* Shark */
$c-dark-shadow: rgba(34, 34, 34, 0.87);
$c-deep: #555; /* Chicago */
$c-deep-shadow: rgba(34, 34, 34, 0.69);
$c-bold: #ccc; /* Cloud */
$c-bold-shadow: rgba(34, 34, 34, 0.25);
$c-soft: #eee; /* Gallery */
$c-soft-shadow: rgba(34, 34, 34, 0.06);
$c-white: #fff; /* White */

@mixin white {
  background-color: $c-white;
  color: $c-deep;

  & .title {
    color: $c-dark;
  }
}

@mixin soft {
  background-color: $c-soft;
  color: $c-deep;

  & .title {
    color: $c-dark;
  }
}

@mixin bold {
  background-color: $c-bold;
  color: $c-dark;
}

@mixin deep {
  background-color: $c-deep;
  color: $c-soft;

  & .title {
    color: $c-white;
  }
}

@mixin dark {
  background-color: $c-dark;
  color: $c-soft;

  & .title {
    color: $c-white;
  }
}

/* Error : Red */
$c-bad-dark: #510; /* Redwood */
$c-bad-deep: #932; /* Totem Pole */
$c-bad-bold: #f75; /* Persimmon */
$c-bad-soft: #fdc; /* Tuft Bush */

/* Warning : Yellow */
$c-warn-dark: #430; /* Madras */
$c-warn-deep: #864; /* Kumera */
$c-warn-bold: #fc5; /* Golden Tainoi */
$c-warn-soft: #fec; /* Oasis */

/* Success : Green */
$c-good-dark: #233; /* Outer Space */
$c-good-deep: #187; /* Pine Green */
$c-good-bold: #6db; /* Puerto Rico */
$c-good-soft: #d4f4e4; /* Granny Apple */

/* Primary : Blue */
$c-main-dark: #235; /* Cello */
$c-main-deep: #26a; /* Matisse */
$c-main-bold: #9cf; /* Malibu */
$c-main-soft: #def; /* Link Water */

/* Extras : Violet */
$c-extra-dark: #423; /* Livid Brown */
$c-extra-deep: #746; /* Cosmic */
$c-extra-bold: #dad; /* Light Wisteria */
$c-extra-soft: #edf; /* Moon Raker */
