@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Arimo');

$theme-body-font : 'Noto Sans', helvetica, arial, sans-serif;
$theme-caption-font : 'Arimo', arial, helvetica, sans-serif;

$font-xs: 11pt;
$font-sm: 13pt;
$font-md: 16pt;
$font-lg: 20pt;
$font-xl: 24pt;
$font-xxl: 28pt;
$font-xxxl: 32pt;
