$theme-body-font : 'Noto Sans', helvetica, arial, sans-serif;
$theme-caption-font : 'Arimo', arial, helvetica, sans-serif;

$font-xs: 11pt;
$font-sm: 13pt;
$font-md: 15pt;
$font-lg: 18pt;
$font-xl: 21pt;
$font-xxl: 24pt;
$font-xxxl: 32pt;
