@import '../vars/color';
@import '../vars/metrics';

/* Margins & Spacing */

._tight {
  margin: 0 auto;
  padding: 0;
  overflow: auto;
}

body,
._white {
  background-color: $c-white;
  color: $c-deep;

  & [href] {
    color: $c-main-deep;

    &:visited {
      color: $c-extra-deep;
    }
  }
}

._dark {
  background-color: $c-dark;
  color: $c-white;

  & [href] {
    color: $c-white;

    &:visited {
      color: $c-white;
    }
  }
}

._deep {
  background-color: $c-deep;
  color: $c-soft;

  & [href] {
    color: $c-main-soft;

    &:visited {
      color: $c-extra-soft;
    }
  }
}

._loud {
  background-color: $c-loud;
  color: $c-dark;

  & [href] {
    color: $c-main-dark;

    &:visited {
      color: $c-extra-dark;
    }
  }
}

._soft {
  background-color: $c-soft;
  color: $c-dark;

  & [href] {
    color: $c-main-deep;

    &:visited {
      color: $c-extra-deep;
    }
  }
}

._main {
  &._dark {
    background-color: $c-main-dark;
    color: $c-white;
  }

  &._deep {
    background-color: $c-main-deep;
    color: $c-main-soft;
  }

  &._loud {
    background-color: $c-main-loud;
    color: $c-main-dark;
  }

  &._soft {
    background-color: $c-main-soft;
    color: $c-main-dark;
  }

  &._white {
    background-color: $c-white;
    color: $c-main-dark;
  }
}

._cool {
  &._dark {
    background-color: $c-cool-dark;
    color: $c-white;
  }

  &._deep {
    background-color: $c-cool-deep;
    color: $c-cool-soft;
  }

  &._loud {
    background-color: $c-cool-loud;
    color: $c-cool-dark;
  }

  &._soft {
    background-color: $c-cool-soft;
    color: $c-cool-dark;
  }

  &._white {
    background-color: $c-white;
    color: $c-cool-dark;
  }
}

._warm {
  &._dark {
    background-color: $c-warm-dark;
    color: $c-white;
  }

  &._deep {
    background-color: $c-warm-deep;
    color: $c-warm-soft;
  }

  &._loud {
    background-color: $c-warm-loud;
    color: $c-warm-dark;
  }

  &._soft {
    background-color: $c-warm-soft;
    color: $c-warm-dark;
  }

  &._white {
    background-color: $c-white;
    color: $c-warm-dark;
  }
}

._hot {
  &._dark {
    background-color: $c-hot-dark;
    color: $c-white;
  }

  &._deep {
    background-color: $c-hot-deep;
    color: $c-hot-soft;
  }

  &._loud {
    background-color: $c-hot-loud;
    color: $c-hot-dark;
  }

  &._soft {
    background-color: $c-hot-soft;
    color: $c-hot-dark;
  }

  &._white {
    background-color: $c-white;
    color: $c-hot-dark;
  }
}

._extra {
  &._dark {
    background-color: $c-extra-dark;
    color: $c-white;
  }

  &._deep {
    background-color: $c-extra-deep;
    color: $c-extra-soft;
  }

  &._loud {
    background-color: $c-extra-loud;
    color: $c-extra-dark;
  }

  &._soft {
    background-color: $c-extra-soft;
    color: $c-extra-dark;
  }

  &._white {
    background-color: $c-white;
    color: $c-extra-dark;
  }
}

/* Text & Alignment */

._right {
  text-align: right;
}
