@import '../vars/color';
@import '../vars/metrics';

/* Margins & Spacing */

._tight {
  margin: 0 auto;
  padding: 0;
  overflow: auto;
}

/* Color Regions */

/* regular */

._white { @include white; }
._soft { @include soft; }

._bold {
  @include loud;

  ._soft { @include soft; }
  ._white { @include white; }
}

._deep {
  @include deep;

  ._soft { @include soft; }
  ._white { @include white; }
}

._dark {
  @include dark;

  ._soft { @include soft; }
  ._white { @include white; }
}

/* cool */

._good {
  background-color: $c-cool-soft;
  color: $c-cool-deep;

  &._bold {
    background-color: $c-cool-loud;
    color: $c-cool-dark;
  }

  &._deep {
    background-color: $c-cool-deep;
    color: $c-cool-soft;
  }

  &._dark {
    background-color: $c-cool-dark;
    color: $c-cool-soft;
  }
}

/* warm */

._warn {
  background-color: $c-warm-soft;
  color: $c-warm-deep;

  &._bold {
    background-color: $c-warm-loud;
    color: $c-warm-dark;
  }

  &._deep {
    background-color: $c-warm-deep;
    color: $c-warm-soft;
  }

  &._dark {
    background-color: $c-warm-dark;
    color: $c-warm-soft;
  }
}

/* hot */

._bad {
  background-color: $c-hot-soft;
  color: $c-hot-deep;

  &._bold {
    background-color: $c-hot-loud;
    color: $c-hot-dark;
  }

  &._deep {
    background-color: $c-hot-deep;
    color: $c-hot-soft;
  }

  &._dark {
    background-color: $c-hot-dark;
    color: $c-hot-soft;
  }
}

/* main */

._main {
  background-color: $c-main-soft;
  color: $c-main-deep;

  &._bold {
    background-color: $c-main-loud;
    color: $c-main-dark;
  }

  &._deep {
    background-color: $c-main-deep;
    color: $c-main-soft;
  }

  &._dark {
    background-color: $c-main-dark;
    color: $c-main-soft;
  }
}

/* extra */

._extra {
  background-color: $c-extra-soft;
  color: $c-extra-deep;

  &._bold {
    background-color: $c-extra-loud;
    color: $c-extra-dark;
  }

  &._deep {
    background-color: $c-extra-deep;
    color: $c-extra-soft;
  }

  &._dark {
    background-color: $c-extra-dark;
    color: $c-extra-soft;
  }
}

/* Text & Alignment */

._right {
  text-align: right;
}
