@import '../vars/color';
@import '../vars/metrics';

$bui-font-family: false !default;

@if not $bui-font-family {
  @import url('https://fonts.googleapis.com/css?family=Muli:400,600,800');
  $bui-font-family:
    'Muli',
    'Roboto',
    'Droid Sans',
    helvetica,
    arial,
    sans-serif;
}

$bui-script-family: false !default;

@if not $bui-script-family {
  @import url('https://fonts.googleapis.com/css?family=Merriweather:400i,700i');
  $bui-script-family:
    'Merriweather',
    'Garamond',
    georgia,
    serif;
}

.script {
  font-family: $bui-script-family;
  font-style: italic;
}

body,
html {
  color: $c-deep;
  font-family: $bui-font-family;
  font-size: $ty-base;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

.title {
  font-weight: 800;
}

h1,
h2,
h3,
h4,
h5,
strong {
  @extend .title;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
pre {
  @extend .tile;
}

pre {
  @include soft;
}

h1,
._xxxl {
  font-size: #{$ty-xxxl / $ty-base}em;
}

h2,
._xxl {
  font-size: #{$ty-xxl / $ty-base}em;
}

h3,
._xl {
  font-size: #{$ty-xl / $ty-base}em;
}

h4,
._lg {
  font-size: #{$ty-lg / $ty-base}em;
}

h5,
._md {
  font-size: #{$ty-md / $ty-base}em;
}

._sm {
  font-size: #{$ty-sm / $ty-base}em;
}

._xs {
  font-size: #{$ty-xs / $ty-base}em;
}

p,
h6 {
  @extend ._sm;
}

small {
  @extend ._xs;
}

a,
.action,
[onclick],
[href] {
  cursor: pointer;
  font-weight: 600;
}
