@import url('https://fonts.googleapis.com/css?family=Muli:400,600,800');
@import '../functions';
@import '../vars/color';
@import '../vars/size';

body,
html {
  color: $c-deep;
  font-family:
    'Muli',
    'Roboto',
    'Droid Sans',
    helvetica,
    arial,
    sans-serif;
  font-size: $ty-base;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
pre {
  @extend .tile;
}

pre {
  @include soft;
}

h1,
._xxxl {
  font-size: #{$ty-xxxl / $ty-base}em;
}

h2,
._xxl {
  font-size: #{$ty-xxl / $ty-base}em;
}

h3,
._xl {
  font-size: #{$ty-xl / $ty-base}em;
}

h4,
._lg {
  font-size: #{$ty-lg / $ty-base}em;
}

h5,
._md {
  font-size: #{$ty-md / $ty-base}em;
}

p,
h6 {
  @extend .body;

  font-size: #{$ty-sm / $ty-base}em;
}

small {
  @extend .body;

  font-size: #{$ty-xs / $ty-base}em;
}

a {
  @extend .action;

  &:visited {
    color: $c-extra-deep;
  }
}

.body {
  color: $c-deep;
  margin: 0;
}

.action,
[onclick],
[href] {
  @extend .body;

  color: $c-main-deep;
  cursor: pointer;
  font-weight: 600;
  opacity: 0.9;

  &:hover {
    opacity: 1;
  }

  &._dark,
  ._dark &,
  &._deep,
  ._deep & {
    color: $c-white;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
.title {
  color: $c-dark;
  font-weight: 800;
}

._right {
  text-align: right;
}
